{% extends 'sahara/template.html'%}
{% load static%}

{%block content%}
{% for item in items%}
<div id="cart_item">
    <div id="cart_img">
        <!--<img src="{{ item.product_pic.url }}">-->
    </div>
    <div id="cart_info">
        <table id="cart_table">
            <tr>
                <td>{{item.product_name}}</td>
            </tr>
            <tr>
                <td>{{item.seller}}r</td>
            </tr>
            <tr>
                <td id="cart_price">{{item.cost}}</td>
                <td><a href="">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
{% endfor %}

{% endblock %}
