{%load static%}

<!DOCTYPE html>
<html>
<head>
    <title>Sahara</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sahara/style.css'%}">
    <link rel="shortcut icon" href="{%static 'sahara/favicon.ico' %}">
    <script src="{%static 'sahara/jquery-3.4.1.js'%}"> </script>
</head>

<body bgcolor="#0f0f0f">
<div class="top">
    <div id="disp">
        <br>
        <br>
        <table id="head">
            <tr>
                <td id="titletd"><a href="/"><img id="title" src="{%static 'sahara/Title.png'%}" border="0"></a></td>
                <td><a href="{% url 'cart'%}"><img id="cart" src="{% static 'sahara/cart.png' %}" border="0"></a></td>
                {% if user.is_authenticated%}
                    <td><div id="user"><a href="{%url 'profile'%}"><img id="user_pic" src="{{user.profile.profile_pic.url}}"></a></div></td>
                {% else %}
                    <td><div id="user"><a href="{%url 'profile'%}"><img id="user_pic" src="{% static 'sahara/sahara-2.png'%}"></a></div></td>
                {% endif %}
            </tr>
        </table>
    </div>
</div>
<div class="subcats">
    <div id="subcats">
                <div id="catsdiv">
                    <button id="categorybtn">Categories</button>
                    <div id="category_content">
                        {% for i in cat %}
                        <a href="/?cat={{i}}">{{i}}</a>
                        {% endfor %}
                    </div>
                </div>

            {% if user.is_authenticated%}
            <div id="signin_btn"><div id="signdiv"><a href="{% url 'logout'%}">Sign out</a></div></div>
            {% else %}
                <div id="signin_btn"><div id="signdiv"><a href="{% url 'login'%}">Sign in</a></div>
            {% endif %}
    </div>
</div>
<div id="item_space">
    {% if messages %}
        {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
    {% endif %}

    {%block content%}
    {%endblock%}
</div>

<script src="{%static 'sahara/jquery-3.4.1.js'%}"> </script>

<script>
    $(function(){

        $("#title").hide(0).delay(1).fadeToggle(1000);


    });


</script>

</body>
</html>

