{%load static%}

<!DOCTYPE html>
<html>
<title>Sahara</title>
<body bgcolor="#0f0f0f">
<link rel="stylesheet" type="text/css" href="{% static 'sahara/style.css'%}">
<link rel="shortcut icon" href="{%static 'sahara/favicon.ico' %}">
<div class="top">
    <div id="disp">
        <br>
        <br>
        <table id="head">
            <tr>
                <td><img id="logo" src="{% static 'sahara/sahara-1.png'%}" border="0"></td>
                <td><div id="title">Sahara</div></td>
                <td><a href="{% url 'cart'%}"><img id="cart" src="{% static 'sahara/cart.png' %}" border="0"></a></td>
                <td><div id="user"><a href="{%url 'profile'%}"><img id="user_pic" src="{{user.profile.profile_pic.url}}"></a></div></td>
            </tr>
        </table>
    </div>
</div>
<div class="subcats">
    <table>
        <tr>
            <td id="subcats">Categories</td>
            <td id="subcats">IoT</td>
            {% if user.is_authenticated%}
                <td id="subcats"><a href="{% url 'logout'%}"><div>Sign out</div></a></td>
            {% else %}
                <td id="subcats"><a href="{% url 'login'%}"><div>Sign in</div></a></td>
            {% endif %}
        </tr>
    </table>
</div>
<div id="item_space">
    {% if messages %}
        {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
    {% endif %}

    {%block content%}
    {%endblock%}
</div>
</body>
</html>
