{%load static%}

<!DOCTYPE html>
<html>
<title>Sahara</title>
<body bgcolor="#0f0f0f">
<link rel="stylesheet" type="text/css" href="{% static 'sahara/style.css'%}">
<link rel="shortcut icon" href="{%static 'sahara/favicon.ico' %}">
<div class="top">
    <div id="disp">
        <br>
        <br>
        <table id="items">
            <tr>
                <td><img id="logo" src="{% static 'sahara/sahara-1.png'%}" border="0"></td>
                <td><div id="title">Sahara</div></td>
                <td><a href="user/cart/"><img id="cart" src="{% static 'sahara/cart.png' %}" border="0"></a></td>
                <td><div id="user"><a href="user/"><img id="user_pic" src="{% static 'sahara/sahara-2.png'%}"></a></div></td>
            </tr>
        </table>
    </div>
</div>
<div class="subcats">
    <table>
        <tr>
            <td id="subcats">Categories</td>
            <td id="subcats">IoT</td>
            <td id="subcats"><a href="/user/signup"><div>Sign In</div></a></td>
        </tr>
    </table>
</div>
<div id="item_space">
    {%block content%}
    {%endblock%}
</div>
</body>
</html>
