{%extends 'sahara/template.html'%}
{%block content%}
{%load static%}

<div id="login">
    <div id="login_title">
        Login
    </div>
    <form id="input" method="POST">

        {% csrf_token %}

        <p><label for="id_username">Username:</label>
            {{form.username}}</p>
        <p><label for="id_password">Password:</label>
            {{form.password}}</p>

        <a href="/login"><button type="submit" id="submit">Login</button></a>
        <div id="ask">Don't have an account? <a href="{% url 'signup'%}">Sign up</a></div>


    </form>
</div>

{% endblock %}
