{% extends 'sahara/template.html'%}
{% load static%}

{%block content%}
<div id="profile_name">

    <form method="POST" action="/profile" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="profile_title">
        Profile
        </div>
        <table id="profile_table">
            <tr>
                <td>
                    <div id="profile_imgdiv">
                        <img id="profile_img" src="{{user.profile.profile_pic.url}}">
                    </div>
                </td>
                <td>
                    <div id="profile_info">
                        {% for field in form %}
                        {{field.label_tag}}
                        <p>{{field}}</p>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
        <button id="save" type="submit">Save</button>
    </form>
</div>
{% endblock %}

