{% extends 'sahara/template.html'%}
{%block content%}
{%load static%}

{{form.non_field_errors}}

<div id="logup">
    <div id="login_title">
        Sign up
    </div>

    <form id="signup" method="POST">
        {% csrf_token %}

        <p><label for="id_username">Username:</label>
            {{ form.username }}</p>
        <p><label for="id_email">Email:</label>
            {{ form.email }}</p>
        <p><label for="id_password1">Password:</label>
            {{ form.password1 }}</p>
        <p><label for="id_password2">Confirm Password:</label>
            {{ form.password2 }}</p>
        <button type="submit" id="submit">Signup</button>
        <div id="ask">Already have an account? <a href="{% url 'login' %}">Sign in</a></div>
    </form>
</div>

<div id='login'>
    {{form.username.errors}}
    {{form.email.errors}}
    {{form.password1.errors}}
    {{form.password2.errors}}
</div>

{% endblock %}
