{% extends 'sahara/template.html'%}
{%block content%}
{%load static%}

<div id="login_up">
    <div id="login_title">
        Sign up
    </div>

    <form id="signup" method="POST">
        {% csrf_token %}

        <p>{{ form.username }}</p>
        <p>{{ form.email }}</p>
        <p>{{ form.password1 }}</p>
        <p>{{ form.password2 }}</p>
        <button type="submit" id="submit">Login</button>
        <div id="ask">Already have an account? <a href="{% url 'login' %}">Sign in</a></div>
    </form>
</div>

{% endblock %}
